<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
</head>
<body>
<form method="post" th:action="@{addNewProduct}" th:object="${productFeatures}">
    <table>
        <tr>
            <td>Цена:</td>
            <td>
                <input type="text" th:field="*{price}" placeholder="Цена">
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
        </tr>
        <tr>
            <td>Серийный номер:</td>
            <td>
                <input type="text" th:field="*{serialNumber}" placeholder="Серийный номер">
            <td th:if="${#fields.hasErrors('serialNumber')}" th:errors="*{serialNumber}"></td>
        </tr>
        <tr>
            <td>Производитель:</td>
            <td>
                <input type="text" th:field="*{manufacturer}" placeholder="Производитель">
            <td th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"></td>
        </tr>
        <tr>
            <td>Количество товаров на складе:</td>
            <td>
                <input type="text" th:field="*{unitsInStock}" placeholder="Количество товаров на складе">
            <td th:if="${#fields.hasErrors('unitsInStock')}" th:errors="*{unitsInStock}"></td>
        </tr>
        <tr>
            <td>Выберите тип товара:</td>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="desktop" th:name="typeOfProduct" value="desktop">
                <label class="custom-control-label" for="desktop">Настольный компьютер</label>
            </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="notebook" th:name="typeOfProduct" value="notebook">
                    <label class="custom-control-label" for="notebook">Ноутбук</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="monitor" th:name="typeOfProduct" value="monitor">
                    <label class="custom-control-label" for="monitor">Монитор</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="hardDrive" th:name="typeOfProduct" value="hardDrive">
                    <label class="custom-control-label" for="hardDrive">Жесткий диск</label>
                </div>
            </td>
        </tr>
    </table>
    <button type="submit">Далее</button>
</form>
</body>
</html>