<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
</head>
<body>
<form method="post" th:action="@{/addNewProduct/{TOP}(TOP=${TOP})}" th:object="${product}">
    <table>
        <tr>
            <td>Цена:</td>
            <td><input type="text" th:field="*{price}" th:value="${product.price}" placeholder="Цена">
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
        </tr>
        <tr>
            <td>Серийный номер:</td>
            <td>
                <input type="text" th:field="*{serialNumber}" th:value="${product.serialNumber}" placeholder="Серийный номер">
            <td th:if="${#fields.hasErrors('serialNumber')}" th:errors="*{serialNumber}"></td>
        </tr>
        <tr>
            <td>Производитель:</td>
            <td>
                <input type="text" th:field="*{manufacturer}" th:value="${product.manufacturer}" placeholder="Производитель">
            <td th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"></td>
        </tr>
        <tr>
            <td>Количество товаров на складе:</td>
            <td>
                <input type="text" th:field="*{unitsInStock}" th:value="${product.unitsInStock}" placeholder="Количество товаров на складе">
            <td th:if="${#fields.hasErrors('unitsInStock')}" th:errors="*{unitsInStock}"></td>
        </tr>
        <tr>
            <td><input type="hidden" th:field="*{typeOfProduct}" th:value="${TOP}"></td>
            <td><input type="hidden" th:field="*{productId}" th:value="${product.getProductId()}"></td>
        </tr>
        <tr th:if="${TOP==TOP.DESKTOP}">
            <td>Форм-фактор:</td>
            <td><select name="formFactor" th:field="*{formFactor}" th:value="${product.formFactor}">
                <option th:each="fFopt : ${T(org.test.shiftTest.models.FormFactor).values()}"
                        th:value="${fFopt}" th:text="${fFopt}"></option>
            </select></td>
        </tr>

        <tr th:if="${TOP==TOP.NOTEBOOK}">
            <td>Размер:</td>
            <td><select name="dimensions" th:field="*{dimensions}" th:value="${product.dimensions}">
                <option th:each="dopt : ${T(org.test.shiftTest.models.Dimensions).values()}"
                        th:value="${dopt}" th:text="${dopt.value}"></option>
            </select></td>
        </tr>

        <tr th:if="${TOP==TOP.HARD_DRIVE}">
            <td>Объем:</td>
            <td>
                <input type="text" th:field="*{space}" th:value="${product.space}" placeholder="Объем в гб">
            <td th:if="${#fields.hasErrors('space')}" th:errors="*{space}"></td>
        </tr>

        <tr th:if="${TOP==TOP.MONITOR}">
            <td>Диагональ в дюймах:</td>
            <td>
                <input type="text" th:field="*{diagonal}" th:value="${product.diagonal}" placeholder="Диагональ в дюймах">
            <td th:if="${#fields.hasErrors('diagonal')}" th:errors="*{diagonal}"></td>
        </tr>
    </table>
    <button type="submit">Далее</button>
</form>
</body>
</html>