<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
</head>
<body>
<form method="post" th:action="@{/addNewProduct/{TOP}(TOP=${TOP})}" th:object="${product}">
    <table>
        <tr>
            <td>Цена:</td>
            <td><input type="text" th:field="*{price}" th:value="*{price}" placeholder="Цена">
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
            <td th:if="${Id!=null}"> <input type="hidden" th:value="${Id}" th:name="Id"></td>
        </tr>
        <tr>
            <td>Серийный номер:</td>
            <td>
                <input type="text" th:field="*{serialNumber}" placeholder="Серийный номер">
            <td th:if="${#fields.hasErrors('serialNumber')}" th:errors="*{serialNumber}"></td>
        </tr>
        <tr>
            <td>Производитель:</td>
            <td>
                <input type="text" th:field="*{manufacturer}" placeholder="Производитель">
            <td th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"></td>
        </tr>
        <tr>
            <td>Количество товаров на складе:</td>
            <td>
                <input type="text" th:field="*{unitsInStock}" placeholder="Количество товаров на складе">
            <td th:if="${#fields.hasErrors('unitsInStock')}" th:errors="*{unitsInStock}"></td>
        </tr>
        <tr>
            <td><input type="hidden" th:field="*{typeOfProduct}" th:value="${TOP}"></td>
        </tr>
        <tr th:if="${TOP.equals('desktop')}">
            <td>Форм-фактор:</td>
            <td><input type="text" th:field="*{formFactor}" placeholder="Форм-фактор">
            <td th:if="${#fields.hasErrors('formFactor')}" th:errors="*{formFactor}"></td>
        </tr>

        <tr th:if="${TOP.equals('notebook')}">
            <td>Размер:</td>
            <td>
                <input type="text" th:field="*{dimensions}" placeholder="Размер в дюймах">
            <td th:if="${#fields.hasErrors('dimensions')}" th:errors="*{dimensions}"></td>
        </tr>

        <tr th:if="${TOP.equals('hardDrive')}">
            <td>Объем:</td>
            <td>
                <input type="text" th:field="*{space}" placeholder="Объем в гб">
            <td th:if="${#fields.hasErrors('space')}" th:errors="*{space}"></td>
        </tr>

        <tr th:if="${TOP.equals('monitor')}">
            <td>Диагональ в дюймах:</td>
            <td>
                <input type="text" th:field="*{diagonal}" placeholder="Диагональ в дюймах">
            <td th:if="${#fields.hasErrors('diagonal')}" th:errors="*{diagonal}"></td>
        </tr>
    </table>
    <button type="submit">Далее</button>
</form>
</body>
</html>