<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Choose type product</title>
</head>
<body>
<form method="post" th:action="@{chooseTypeOfProduct}">
    Выберите тип товара:
    <select th:name="type">
        <option th:each="topt : ${T(org.test.shiftTest.models.TypeOfProducts).values()}"
                th:value="${topt}" th:text="${topt.value}"></option>
    </select>

    <button type="submit">Далее</button>
</form>
<form th:action="@{/}">
    <button type="submit">Назад</button>
</form>
</body>
</html>