<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<div>Здравствуйте. Выберите действие</div>
<form th:action="createNewProduct" method="get">
    <button type="submit">добавить новый продукт</button>
</form>
<form th:action="@{/replaceAllDesktops}" method="post">
    <button type="submit">отобразить все настольные компьютеры</button>
</form>

<form th:action="@{/replaceAllNotebooks}" method="post">
    <button type="submit">отобразить все ноутбуки</button>
</form>
<form th:action="@{/replaceAllMonitors}" method="post">
    <button type="submit">отобразить все мониторы</button>
</form>
<form th:action="@{/replaceAllHardDrives}" method="post">
    <button type="submit">отобразить все жесткие диски</button>
</form>
<form th:action="@{/}" method="get">
    <button type="submit">отобразить все продукты</button>
</form>
<form action="#" th:object="${products}">
    <table>
        <tr>
            <th>Идентификатор</th>
            <th>Цена</th>
            <th>Серийный номер</th>
            <th>Производитель</th>
            <th>Количество товаров на складе</th>
            <th>Тип товара</th>
            <th>Дополнительные свойства</th>
        </tr>
        <tr th:each="product: ${products}">
            <td><a th:href="@{/show/{Id}(Id = ${product.productId})}">Идентификатор</a></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getSerialNumber()}"></td>
            <td th:text="${product.getManufacturer()}"></td>
            <td th:text="${product.getUnitsInStock()}"></td>
            <td th:text="${product.getTypeOfProduct()}"></td>
            <td th:if="${product.typeOfProduct.equals('desktop')}" th:text="${product.formFactor}"></td>
            <td th:if="${product.typeOfProduct.equals('hardDrive')}"th:text="${product.space}" ></td>
            <td th:if="${product.typeOfProduct.equals('monitor')}" th:text="${product.diagonal}"></td>
            <td th:if="${product.typeOfProduct.equals('notebook')}" th:text="${product.dimensions}"></td>
            <td><a th:href="@{/editProduct/{Id}(Id = ${product.productId})}">Редактировать</a></td>
        </tr>
    </table>
</form>
</body>
</html>