<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<div>Здравствуйте. Выберите действие</div>
<form th:action="createNewProduct" method="get">
    <button type="submit">добавить новый продукт</button>
</form>
<form th:action="@{/replaceAllProducts/DESKTOP}" method="get">
    <button type="submit">отобразить все настольные компьютеры</button>
</form>

<form th:action="@{/replaceAllProducts/NOTEBOOK}" method="get">
    <button type="submit">отобразить все ноутбуки</button>
</form>
<form th:action="@{/replaceAllProducts/MONITOR}" method="get">
    <button type="submit">отобразить все мониторы</button>
</form>
<form th:action="@{/replaceAllProducts/HARD_DRIVE}" method="get">
    <button type="submit">отобразить все жесткие диски</button>
</form>
<form th:action="@{/}" method="get">
    <button type="submit">отобразить все продукты</button>
</form>
<form action="#" th:object="${products}">
    <table>
        <tr>
            <th>Идентификатор</th>
            <th>Цена</th>
            <th>Серийный номер</th>
            <th>Производитель</th>
            <th>Количество товаров на складе</th>
            <th>Тип товара</th>
            <th>Дополнительные свойства</th>
        </tr>
        <tr th:each="product: ${products}">
            <td><a th:href="@{/show/{Id}(Id = ${product.productId})}">Идентификатор</a></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getSerialNumber()}"></td>
            <td th:text="${product.getManufacturer()}"></td>
            <td th:text="${product.getUnitsInStock()}"></td>
            <td th:text="${product.getTypeOfProduct().value}"></td>
            <td th:if="${product.typeOfProduct == product.typeOfProduct.DESKTOP}" th:text="${product.formFactor}"></td>
            <td th:if="${product.typeOfProduct == product.typeOfProduct.HARD_DRIVE}" th:text="${product.space}"></td>
            <td th:if="${product.typeOfProduct == product.typeOfProduct.MONITOR}" th:text="${product.diagonal}"></td>
            <td th:if="${product.typeOfProduct == product.typeOfProduct.NOTEBOOK}"
                th:text="${product.dimensions.value}"></td>
            <td><a th:href="@{/editProduct/{Id}(Id = ${product.productId})}">Редактировать</a></td>
            <td><a th:href="@{/deleteProduct/{Id}(Id = ${product.productId})}">Удалить продукт</a></td>
        </tr>
    </table>
</form>
</body>
</html>